<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spinnig Wheel</title>
    <style>
        body {
    background-color: #fff6ec;
    margin: 0;
    font-family: "Alex Brush", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100dvh;
}

form label{
    font-size: 3.4rem;
    color: #006668;
}
#submitUsername{
    font-family: "Alex Brush", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: #006668;
    background-color: #ffc1c3;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#submitUsername:hover{
    transition: 0.3s;
    padding: 13px 36px;
    background-color: rgb(255, 193, 195, 0.7);
}
    </style>
    <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
    <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
    <link type="text/css"
        href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playwrite+HR+Lijeva:wght@100..400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
    <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
    <link type="text/css"
        href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <form id="saveUsername">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <button type="submit" id="submitUsername">Enter in the room</button>
    </form>

    <script type="application/javascript" src="/socket.io/socket.io.js"></script>
    <script type="application/javascript">
        const topics = [
  'visual-hierarchy',
  'interaction-design',
  'wireframe-fidelity',
  'accessibility-inclusion',
];

const roomNumber = window.location.href.split('/')[3];

const socket = io();

const baseUrl = 'http://10.26.133.125:3000';

if (document.getElementById('saveUsername')) {
  const usernameForm = document.getElementById('saveUsername');
  if (document.getElementById('username')) {
    const username = document.getElementById('username');
    usernameForm.addEventListener('submit', (e) => {
      e.preventDefault();
      player = {
        role: 'player',
        username: username.value,
        socketId: socket.id,
        roomId: roomNumber,
        win: false,
      };
      socket.emit('playerData', player, roomNumber);
      window.location.href = `${baseUrl}/${roomNumber}/${player.username}/${player.role}`;
    });
  }
}

if (document.getElementById('players')) {
  const playersList = document.getElementById('players');
  socket.emit('getPlayersRoomById', roomNumber);
  socket.on('listPlayers', (players) => {
    let html = '';
    players.map((player) => {
      html += `<li>${player.username}</li>`;
    });
    playersList.innerHTML = html;
  });
}

if (document.getElementById('spinButton')) {
  const spinButton = document.getElementById('spinButton');
  player = {
    role: 'player',
    username: window.location.href.split('/')[4],
    socketId: socket.id,
    roomId: roomNumber,
    win: false,
  };
  spinButton.addEventListener('click', () => {
    socket.emit('spinWheel');
  });
  socket.on('updateWheel', (data, choiceTopic) => {
    const { angle } = data;
    const wheel = document.getElementById('wheel');
    if (wheel) {
      wheel.style.transform = `rotate(${angle}deg)`;
    }
    setTimeout(() => {
      window.location.href = `${baseUrl}/${roomNumber}/${player.username}/${player.role}/${choiceTopic}`;
    }, 6500);
  });
}

if (document.getElementById('form-container')) {
  socket.emit(
    'selectQuestion',
    window.location.href.split('/')[3],
    window.location.href.split('/')[4],
    window.location.href.split('/')[6]
  );
  socket.on('sendQuestion', (question) => {
    const container = document.getElementById('form-container');
    container.innerHTML = '';
    const questionElement = document.createElement('h3');
    questionElement.textContent = question.question;
    container.appendChild(questionElement);
    const form = document.createElement('form');
    form.id = 'quiz-form';
    question.answers.forEach((answer, index) => {
      const div = document.createElement('div');
      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.name = 'answer';
      checkbox.value = answer;
      checkbox.id = `answer${index}`;

      const label = document.createElement('label');
      label.setAttribute('for', checkbox.id);
      label.textContent = answer;

      div.appendChild(checkbox);
      div.appendChild(label);
      form.appendChild(div);

      checkbox.addEventListener('change', (e) => {
        if (e.target.checked) {
          const checkboxes = form.querySelectorAll('input[type="checkbox"]');
          checkboxes.forEach((otherCheckbox) => {
            if (otherCheckbox !== e.target) {
              otherCheckbox.checked = false;
            }
          });
        }
      });
    });
    const submitButton = document.createElement('button');
    submitButton.type = 'button';
    submitButton.id = 'submitButton'
    submitButton.textContent = 'Submit';
    submitButton.addEventListener('click', (e) => {
      e.preventDefault();
      const checkboxes = form.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach((checkbox) => {
        if (checkbox.checked) {
          socket.emit(
            'submitAnswer',
            window.location.href.split('/')[4],
            window.location.href.split('/')[6],
            checkbox.value,
            roomNumber
          );
        }
      });
    });
    form.appendChild(submitButton);
    container.appendChild(form);
    socket.on('gameMessage', (message) => {
      container.innerHTML = '';
      container.style.display = 'none';
      document.getElementById('winner').innerHTML = `<p>${message}</p>`;
    });
  });
}

    </script>
</body>

</html>